* {
  box-sizing: border-box;
  margin: 0;
}

.sr-only {
  position: absolute;

  width: 1px;
  height: 1px;

  padding: 0;

  border: 0;

  overflow: hidden;

  white-space: nowrap;
}

:root {
  box-sizing: border-box;

  color: var(--text);

  background-color: var(--light);
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: inherit;
}

.container-xxl {
  display: grid;
  grid-template-columns: min-content 950px;

  height: 100vh;

  overflow: hidden;

  border: 1rem solid var(--gray);
}
