$primary: #4545A5;
$secondary: #6C757D;
$success: #28a745;
$info: #17A2B8;
$warning: #FFC107;
$danger: #DC3545;
$light: #FBFBFB;
$dark: #212529;
$gray-100: #EFEFEF;
$gray-900: #343a40;

$theme-colors: (
  "primary": $primary,
  "secondary": $secondary,
  "success": $success,
  "info": $info,
  "warning": $warning,
  "danger": $danger,
  "light": $light,
  "dark": $dark,
  "gray": $gray-100,
  "text": $gray-900
);

$grid-breakpoints: (
  xxl: 1600px
);

$container-max-widths: (
  xxl: 1540px
);

$enable-shadows: true;